@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  font-size: 62.5%; /* 1rem = 10px */

  --color-primary: hsl(235, 35%, 19%);
  --color-secondary: hsl(358, 78%, 69%);
  --color-font: hsla(0, 0%, 100%, 0.902);

  --color-shadow: hsl(235, 36%, 35%);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--color-primary);
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem 0;
}
.min-wrap,
.controller {
  margin: 2rem 0;
}
.min-wrap {
  width: 20rem;
  background-color: var(--color-primary);
  box-shadow: 0 0 15px 10px var(--color-shadow);
  border-radius: 30px;
  padding: 1rem 1.5rem;
  border: 1px solid white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.min-wrap span {
  color: var(--color-secondary);
  font-size: 2rem;
}
.min-wrap input {
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  font-size: 20px;
  width: 15rem;
}
.min-wrap .submit {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  color: #fff;
  background-color: palegreen;
  border: none;
  outline: none;
  cursor: pointer;
}
.min-wrap .icon i {
  color: #fff;
  font-size: 25px;
}

.timer {
  height: 30rem;
  width: 30rem;
  border-radius: 50%;
  box-shadow: 0 0 15px 10px var(--color-shadow);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem 0;
}

.timer-wrapper {
  height: 26rem;
  width: 26rem;
  border: 5px solid rgba(255, 255, 255, 0.371);
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer-wrapper span {
  font-size: 5.6rem;
  color: white;
  font-weight: 400;
  margin: 0 0.7rem;
}
.controller {
  display: flex;
  align-items: center;
}
.controller button {
  border: none;
  cursor: pointer;
  color: #000;
  border-radius: 50%;
  margin: 0 2rem;
  transition: all 0.3s ease-in-out;
}
.controller button i {
  color: white;
}
.controller .start {
  background-color: red;
  height: 6rem;
  width: 6rem;
  font-size: 27px;
  padding: 15px 21px;
}
.controller .pause {
  width: 4rem;
  height: 4rem;
  border: 1px solid #fff;
  background-color: transparent;
}
.controller .reset {
  width: 4rem;
  height: 4rem;
  border: 1px solid #fff;
  background-color: transparent;
}
.controller .pause:hover,
.controller .reset:hover {
  background-color: violet;
}
